<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>API OF EMPIRES II</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="civilizations">Civilizations</a></li>
            <li><a href="units">Units</a></li>
            <li><a href="structures">Structures</a></li>
            <li><a href="/tech">Technologies</a></li>
        </nav>
    </header>
    <div class="HEAD">
        <h1>API Of Empires II</h1>
        <h3>An OPEN SOURCE API IMPLEMENTATION for your competitive needs</h3>
    </div>
    <main>
        <div class="about">    
            <h3>ABOUT THE PROJECT</h3>
            <p>A pretty basic and open source implementation of HEROKUAPP's <a href="">API</a> for the better game of the trilogy, Age Of Empires II.<br>
                It includes basic info about the different Civilizations, Units and Structures of the game.
                basically, you have two options for each category: You can individually search for them or you can take a dive into each of the lists
            </p>
        </div>
        <div class="contribute">
            <h3>FEEL FREE TO CONTRIBUTE</h3>
            <p>As stated before, this is an <b>OPEN SOURCE IMPLEMENTATION</b> of an already existing <a href="">API</a><br>
                so, if you want to help, you can do so by forking the repo over on <a href="">GITHUB</a></p>
        </div>
    </main>

    <footer>
        <p>API PROVIDED BY HEROKUAPP&copy;</p>
    </footer>
</body>
</html>