<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/category.css">
    <title>API of Empires II - Units</title>
</head>
<body>
    <header class="header">
        <h2>UNITS</h2>
    </header>
    <table class='table table-striped table-dark'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Wood</th>
                <th>Food</th>
                <th>Gold</th>
                <th>Stone</th>
                <th>Build Time</th>
            </tr>
        </thead>
        {% for i in tech %}
            <tr>
                        <td>{{ i['num'] }}</td>
                        <td>{{ i['name'] }}</td>
                        <td>{{ i['wood'] }}</td>
                        <td>{{ i['food'] }}</td>
                        <td>{{ i['gold'] }}</td>
                        <td>{{ i['stone'] }}</td>
                        <td>{{ i['build_time'] }}</td>
            </tr>
        {% endfor %}
    </table>
        <footer>
            <nav>
                <li><a href= "/">Home</a></li>
                <li><a href= "/civilizations">Civilizations</a></li>
                <li><a href="/units">Units</a></li>
                <li><a href="/structures">Structures</a></li>
                <li><a href="/tech">Technologies</a></li>
            </nav>
        </footer>
</body>
</html>