<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body{
            background: url(../static/background.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        img{
            max-width: 10rem ;
            max-height: 20rem;
        }
    </style>
    <title>Dc Comics Hero</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card col s8 offset-s2">
                <div class="card-image">
                    <img src="{{dc.get('image')}}" class="responsive-img"/>
                    <span class="card-title">{{dc.get("name")}}</span>
                </div>
                <div class="card-content">
                    <table>
                        <span class="card-title">DATA</span>
                        <tr>
                            <td>Full Name</td>
                            <td>{{dc.get("full_name")}}</td>
                        </tr>
                        <tr>
                            <td>Alter egos</td>
                            <td>{{dc.get("alter_egos")}}</td>
                        </tr>
                        <tr>
                            <td>Aliases</td>
                            <td>{{dc.get("aliases")}}</td>
                        </tr>
                        <tr>
                            <td>Place of birth</td>
                            <td>{{dc.get("place_of_birth")}}</td>
                        </tr>
                        <tr>
                            <td>First Appearance</td>
                            <td>{{dc.get("first_appearance")}}</td>
                        </tr>
                        <tr>
                            <td>Publisher</td>
                            <td>{{dc.get("publisher")}}</td>
                        </tr>
                        <tr>
                            <td>Alignment</td>
                            <td>{{dc.get("alignment")}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{dc.get("gender")}}</td>
                        </tr>
                        <tr>
                            <td>Race</td>
                            <td>{{dc.get("race")}}</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>{{dc.get("height")}}</td>
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td>{{dc.get("weight")}}</td>
                        </tr>
                        <tr>
                            <td>Eye Color</td>
                            <td>{{dc.get("eye_color")}}</td>
                        </tr>
                        <tr>
                            <td>Hair Color</td>
                            <td>{{dc.get("hair_color")}}</td>
                        </tr>
                        <tr>
                            <td>Occupation</td>
                            <td>{{dc.get("occupation")}}</td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td>{{dc.get("base")}}</td>
                        </tr>
                        <tr>
                            <td>Group Affiliation</td>
                            <td>{{dc.get("group_affiliation")}}</td>
                        </tr>
                        <tr>
                            <td>Relatives</td>
                            <td>{{dc.get("relatives")}}</td>
                        </tr>
                        <tr>
                            <td>Intelligence</td>
                            <td>{{dc.get("intelligence")}}</td>
                        </tr>
                        <tr>
                            <td>Strength</td>
                            <td>{{dc.get("strength")}}</td>
                        </tr>
                        <tr>
                            <td>Speed</td>
                            <td>{{dc.get("speed")}}</td>
                        </tr>
                        <tr>
                            <td>Durability</td>
                            <td>{{dc.get("durability")}}</td>
                        </tr>
                        <tr>
                            <td>Power</td>
                            <td>{{dc.get("power")}}</td>
                        </tr>
                        <tr>
                            <td>Combat</td>
                            <td>{{dc.get("combat")}}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-action">
                    <a href="/heroes">Volver a Heroes</a>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>