<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body{
            background: url(../static/background.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        img{
            width: 70%;
            height: 70%;
        }
    </style>
    <title>Dc Comics Heroes</title>
</head>
<body>
    <div class="container">
        <div class="card grey ">
            <div class="card-image">
                <img src="../static/dc-heroes.jpg"/>
            </div>
            <div class="card-content black-text">
                <span class="card-title red-text text-accent-4">Dc Heroes</span>
                <p>Muestra una lista de los superheroes obtenidos de la API: superheroapi</p>
            </div>
            <div class="card-action">
                <a class="blue-text text-darken-3" href="/heroes">Entrar</a>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>