<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Flask Tutorial</title>
</head>
<body>
    {% if person %}
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s6 offset-s3 valign">
                <div class="card indigo">
                    <div class="card-content white-text">
                        <span class="card-title"><b>{{person.person.personal.name}} {{person.person.personal.last_name}}</b></span>
                        <p>Age: <span>{{person.person.personal.age}}</span></p>
                        <p>System id: <span>{{person.person.personal.system_id}}</span></p>
                        <p>Born place: <span>{{person.person.personal.born_place}}</span></p>
                        <p>Cellphone: <span>{{person.person.personal.cellphone}}</span></p>
                        <p>City: <span>{{person.person.personal.city}}</span></p>
                        <p>Country: <span>{{person.person.personal.country}}</span></p>
                        <p>Eye color: <span>{{person.person.personal.eye_color}}</span></p>
                        <p>Gender: <span>{{person.person.personal.gender}}</span></p>
                        <p>Height: <span>{{person.person.personal.height}}</span></p>
                        <p>National code: <span>{{person.person.personal.national_code}}</span></p>
                        <p>Religion: <span>{{person.person.personal.religion}}</span></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% else %}
    <h1>¡Ha ocurrido un problema, por favor contacta con el administrador!</h1>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>  