<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Datos del Personaje</title>
</head>
<link rel=stylesheet href="stylez.css">
<body>
    <form action="http://127.0.0.1:5000/personaje" method = "get"></form>
    <p>Enter id:</p>
    <p><input type="text" name ="ids"></p>
    <p><input type="submit" value="submit"></p>
        <table>

                <thead>
                <td>Id</td>
                <td>Name</td>
                <td>Type</td>
                <td>Dimension</td>
                <td>Residents</td>
                <td>Url</td>
                <td>Created</td>
                </thead>
                {% for row in rows %}
                    <tr>
                        <td>{{row["id"]}}</td>
                        <td>{{row["name"]}}</td>
                        <td>{{row["type"]}}</td>
                        <td>{{row["dimension"]}}</td>
                        <td>{{row["residents"]}}</td>
                        <td>{{row["url"]}}</td>
                        <td>{{row["created"]}}</td>
                        
                    
                    </tr>
                {% endfor %}
            </table>
            


</body>
</html>