{% extends 'base/base.html' %}

{% block content %}
	<h4>Filtrar por:</h4>
	<form method="get">
	<p>
	Nombre: &nbsp{{ filter.form.nombre }} &nbsp;
	<button class="btn btn-success" type="submit">Filtrar</button>
	</p>
	</form>
	<table class="table table-bordered">
	<thead>
		<tr>
			<td>Id</td>
			<td>Nombre</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if filter.qs %}
		{% for sucursal in filter.qs %}
		<tr>
			<td>{{ sucursal.id }}</td>
			<td>{{ sucursal.nombre }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'sucursales:sucursal_mostrar' sucursal.id %}">Ver</a>
				<a class="btn btn-primary" href="{% url 'sucursales:sucursal_editar' sucursal.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'sucursales:sucursal_eliminar' sucursal.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de sucursales</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>

{% endblock %}
