<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>
<body>
    {% for dic in diccionario %}
    <form action="/" method="POST">
        <input type="hidden" name="in" value="{{dic['number']}}">
            <>
                TITLE:{{dic['title']}}
             </div>
            </input>
            <div >
                <input id="inputbuton" type="submit">
            </div>
    </form>
{% endfor %}   
</body>
</html>