body{
    background-image: radial-gradient(circle, #ffffff, #b9b9ba, #77777a, #3c3c3f, #000208);
}
main{
    display: flex;
    flex :1;
    flex-flow: column;
    color:white;
}
main div{
    border: .1rem;
    border-color: gray;
    border-style: solid;

}
main div:last-of-type{
    border-bottom: .1rem;
}
.cardimage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardimage img{
    height: 15.625rem;
    width: 10.61rem;
}

.Cardname{
    text-align: center;
}

.carddetails div{
    display: flex;
    justify-content: space-around;

}