################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WS-/v15
/.vs
/aplicacion_prueba/*.pyproj
/aplicacion_prueba/__pycache__