{% extends "app/layout.html" %}

{% block content %}

<div class="container">
  <h2>Lista de clientes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Número de tarjeta de crédito</th>
      </tr>
    </thead>
    <tbody>
        {% for Cliente in clientes %}
      <tr>
        <td><a href="{% url 'cliente_detail' Cliente.tcredito %}">{{ Cliente.nombre|capfirst}}</a></td>
        <td>{{ Cliente.paterno|capfirst }}</td>
        <td>{{ Cliente.materno|capfirst }}</td>
        <td>{{ Cliente.tcredito|capfirst }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
