<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/category.css">
    <title>API of Empires II - Structures</title>
</head>
<body>
    <header class="header">
        <h2>STRUCTURES</h2>
    </header>
    <table class='table table-striped table-dark'>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>WOOD</th>
                <th>GOLD</th>
                <th>FOOD</th>
                <th>STONE</th>
                <th>HP</th>
                <th>BUILD TIME</th>
                <th>ARMOR</th>
            </tr>
        </thead>
        {% for i in structures %}
 
            <tr>
                        <td>{{ i['num'] }}</td>
                        <td>{{ i['name'] }}</td>
                        <td>{{ i['wood'] }}</td>
                        <td>{{ i['gold'] }}</td>
                        <td>{{ i['food'] }}</td>
                        <td>{{ i['stone'] }}</td>
                        <td>{{ i['hp'] }}</td>
                        <td>{{ i['build_time'] }}</td>
                        <td>{{ i['armor'] }}</td>
            </tr>

        {% endfor %}
    </table>
    <footer>
        <nav>
            <li><a href= "/">Home</a></li>
            <li><a href= "/civilizations">Civilizations</a></li>
            <li><a href="/units">Units</a></li>
            <li><a href="/structures">Structures</a></li>
        </nav>
    </footer>
</body>
</html>