<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Visualizador de usuarios</title>

	<style>
		.card {
			width: 50%;
			margin: auto;
			border-radius: 5px;
			box-shadow: gray 3px 3px 3px;
			background-color: rgb(245, 245, 245);
			padding: 10px;
		}

		.card ul {
			display: block;
			list-style: none;
			list-style-position: outside;
			margin: auto;
			width: 80%;
			overflow: auto;
			background-color: white;
			border-radius: 5px;
		}

		.card ul li {
			margin: 2px
		}

		.card h2 {
			text-align: center;
		}

	</style>
</head>
<body>
	<div class="card">
		<h2>{{person.personal.name}} {{person.personal.last_name}}</h2>
		<hr>

		<ul>
			<li><b>Edad:</b> {{person.personal.age}}</li>
			<li><b>Sexo:</b> {{person.personal.gender}}</li>
			<li><b>Altura:</b> {{person.personal.height}}</li>
			<li><b>Religión:</b> {{person.personal.religion}}</li>
			<li><b>Teléfono:</b> {{person.personal.cellphone}}</li>
			<li><b>Estudios universitarios:</b> {{person.education.university}}</li>
		</ul>

	</div>

</body>
</html>