<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Tabla Locaciones</h1>
        <form action="http://127.0.0.1:5000/buscarEpisodio" method="GET">
            <p>Id Episodio</p>
            <p><input type="text" name="Id"></p>           
            <p><input type="submit" value="Buscar"></p>>
        </form>
    </body>
</html>