{% extends 'BaseWebPersonaje.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Tabla Personaje</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Status</th>
            <th>Specie</th>
            <th>Origen</th>
            <th>Tipo</th>
            <th>URL Locacion</th>
            <th>Id Locacion</th>
            <th>URL Episodio</th>
            <th>Id Episodio</th>
            <th>URL Personaje</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <br>
            </td>
        </tr>
    </table>
    <form>
        <input type="text" name="content" id="content">
        <input type="submit" value="Buscar">
    </form>
</div>
{% endblock %}