<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="http://127.0.0.1:5000/Locacion" method="GET">
        </form>
    <table>
        <thead>
            <td>Id</td>
            <td>Nombre</td>
            <td>Type</td>
            <td>Dimension</td>
            <td>Residents</td>
            <td>id_personaje</td>
            <td>Url</td>
        </thead>
        {% for row in lineas %}
            <tr>
                <td>{{row['Id']}}</td>
                <td>{{row['Nombre']}}</td>
                <td>{{row['Type']}}</td>
                <td>{{row['Dimension']}}</td>
                <td>{{row['Residents']}}</td>
                <td>{{row['id_personaje']}}</td>
                <td>{{row['Url']}}</td>
            </tr>
        {% endfor %}   
    </table>
</body>
</html>