<html>
  <head>
    <style type="text/css">
      body {
        background: white;
        color: rgb(0, 0, 0);
      }
      div.container {
        margin: 100px auto;
        text-align: center;
        max-width: 500px;
        padding: 10px;
      }
      h2 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Personas</h2>
      <hr>   
    {% block content %}{% endblock %}  
    </div>
  </body>
</html>