<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age of Empires - civilizacion</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css'>
</head>
<style type="text/css">
    body{
      background-image: url("../static/background2.jpg");
        }
</style>
<body>
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s6">
          <div class="card grey darken-2">
            <div class="card-image">
              <img src="../static/civilizations.jpg"/>
            </div>
            <div class="card-content white-text">
              <span class="card-title white-text ">Civilizations</span>
              <p>Information about civilization</p>
            </div>
            <div class="card-action">
              <a href="/civilizations">Go to civilizations</a>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="card grey darken-2">
            <div class="card-image">
              <img src="../static/units.png" alt=""/>
            </div>
            <div class="card-content white-text">
              <span class="card-title white-text">Units</span>
              <p>Information about Units</p>
            </div>
            <div class="card-action">
              <a href="/units">Go to units</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row valign-wrapper">
        <div class="col s6">
          <div class="card grey darken-2">
            <div class="card-image ">
              <img src="../static/technologies.jpg"/>
            </div>
            <div class="card-content white-text">
              <span class="card-title white-text ">Technologies</span>
              <p>Information about Technologies</p>
            </div>
            <div class="card-action">
              <a href="/technologies">Go to Technologies</a>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="card grey darken-2">
            <div class="card-image ">
              <img src="../static/structures.jpg" alt=""/>
            </div>
            <div class="card-content white-text">
              <span class="card-title white-text ">Structures</span>
              <p>Information about Structures</p>
            </div>
            <div class="card-action">
              <a href="/units">Go to Structures</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js'></script>
</body>
</html>