{% extends "app/layout.html" %}

{% block content %}

<h3>{{ message }}</h3>

<div class="container">
  <h2>Reservación</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Dirección</th>
        <th>Noches reservadas</th>
        <th>Total a pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td>{{paterno}}</td>
        <td>{{materno}}</td>
        <td>{{direccion}}</td>
        <td>{{noches}}</td>
        <td>{{total}}</td>
      </tr>
    </tbody>

  </table>
    <a href="{%url 'home'%}" class="btn btn-default" role="button">Finalizar</a>
</div>
{% endblock %}