<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="d-flex justify-content-center">
            <img src="./static/kitten.jpg" alt="">
            <br>
          </div>
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="display-2 align-top border-right inline-block align-content-center">:c</h3>
                <div class="inline-block align-middle">
                <h2 class="font-weight-normal lead" id="desc">El contenedor de python aun no llena la base de datos. Espere un momento</h2>
            </div>

        </div>
    </body>
</html>



