{% extends "base.html" %}

{% block content %}

<div class="container-fluid">   
    <div class="jumbotron">
        <h1 class="display-4">Contenedor C</h1>
        <p class="lead">Esta pagina mostrara datos de alguna persona al azar dentro de la base de datos.</p>
        <p>Para cambiar de persona solo es cuestion de volver a entrar al index, o dando click en DAS - Practica 7</p>
        <p>instrucciones:</p>
        <hr class="my-4">
        <p> 
            <ul>
                <li>Tendrá otra pequeño script de python, el cual se llamara view.py</li>
                <li>Éste se encargará de mostrar un usuario al azar de tu base de datos en Mongo. Algo similar a lo que hace https://github.com/AnhellO/pokepy, pero tomando la información de tu base de datos previamente llenada</li>
                <li>Los usuarios tendrán que mostrarse en formato HTML, usando etiquetas como &lt table &gt, &lt ul &gt, y/o similares. Tu decides si utilizar templates y/o estilos CSS. Opcional también es que puedes utilizar Flask para hacer este paso aún más fácil wink</li>
            </ul>
            
            
        </p>
      </div>
</div>

{% endblock %}

