
body {
    color: pink;
	background-color: black;
	margin: 10px;
	padding: 25px;
}
body1 {
    color: pink;
	background-color: whitesmoke;
	margin: 10px;
	padding: 25px;
}
p {
    font-size: 12px;
    line-height: 14px;
    color: green;
}